/*************
General Elements
**************/

/*************
Images
**************/

.logo {
  width: 100px;
}

/*************
Buttons / Links
**************/

/*************
Typography
**************/

.header-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--blu);
}

.header-list-item {
  margin-left: 1rem;
  color: var(--grn);
  font-weight: 700;
}

.header-list-item:hover {
  color: var(--yel);
}

/*************
Layout
**************/

.header {
  width: 100%;
  margin-bottom: 2rem;
  /* background-color: var(--dgrn); */
  /* background: rgb(32, 32, 32);
  background: linear-gradient(15deg, rgba(32, 32, 32, 1) 0%, rgba(58, 89, 66, 1) 100%); */
}

.header-container {
  width: 90%;
  max-width: 1024px;
  padding: 2rem 0 1rem 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid var(--yel); */
}

.header-nav {
  display: none;
}

.header-nav-list {
  display: flex;
}

/*************
Media Queries
**************/

@media (min-width: 800px) {
  /*************
General Elements @800px
**************/

  /*************
Images @800px
**************/

  /*************
Buttons / Links @800px
**************/

  /*************
Typography @800px
**************/

  /*************
Layout @800px
**************/

  .header-nav {
    display: block;
  }
}

/*************
Media Queries
**************/
